{% load static %}
<!DOCTYPE html>
<html>
    {% load static %}  
    <head>
        <title>Liikuntakalenteri</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- tähän tyylit -->
    </head>

    <header class="page-header">
        <h2>Työpaikan sähköinen liikuntakalenteri</h2>
        {% if user.is_authenticated %}
            <form action='/kirjaudu-ulos/' method="POST">
			    {% csrf_token %}
                <input type="submit" class="btn" value="Kirjaudu ulos"/>
            </form>
        {% endif %}
    </header>
    <header>
        <p id="notification"></p>
    </header>

    <header class="navigation">
        {% if user.is_authenticated %}
            <span class="link-text">Kirjautuneena <br> {{user.username}}</span>
            <a class="link-text" href="/lisaa-uusi">Lisää uusi suoritus</a>
            <a class="link-text" href="/haasta">Haasta</a>
            <a class="link-text" href="/tilastot">Tilastot</a>
            <a class="link-text" href="/oma-sivuni">Oma sivu</a>
        {% else %}
            <a class="link-text" href="/">Etusivu</a>
            <a class="link-text" href="/kirjaudu">Kirjaudu sisään</a>
            <a class="link-text" href="/rekisteroidy">Rekisteröidy</a>
        {% endif %}
    </header>

    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div>
            {% for message in messages %}
                <script>
                    var node = document.createTextNode("{{message}}")
                    var element = document.getElementById("notification")
                    "{% if message.tags %}"
                        div = document.createElement("div")
                        div.setAttribute("id", "{{ message.tags }}")
                        div.classList.add("{{ message.tags }}")
                        div.appendChild(node)
                        element.appendChild(div)
                    "{% endif %}"
                    setTimeout(() => {
                        while (element.firstChild) {
                            element.removeAttribute("class")
                            element.removeChild(element.firstChild)
                        }
                    }, 3000)
                </script>
            {% endfor %}
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>