{% extends 'base.html' %}

{% block content %}
<h2 class="h2-primary">Haasta työtoverisi tai itsesi liikkumaan!</h2>
<p>Tällä sivulla voit lähettää haasteen joko itsellesi tai toiselle työntekijälle. Huomaa, että haastettu voi kieltäytyä lähettämästäsi haasteesta poistamalla sen, joten jos haluat seurata haasteen avulla omaa edistymistäsi, lähetä haaste erikseen itsellesi.</p>
<form method="POST" class="challenge-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Tallenna</button>
</form>
{% endblock %}