{% extends 'base.html' %}

{% block content %}
{% load static %}  
<div id="container" style="width: 75%;">
  <div>
    <h2>Tarkastele kaikkien työntekijöiden liikkumisesta koostettuja diagrammeja</h2>
    <div class="info-container">
      <h4>Ympyrädiagrammissa näet eri liikuntalajien osuudet.</h4>
      <button class="btn" onclick="getAllJsonAndDraw('pie', 'y')">Näytä ympyrädiagrammi</button>
    </div>
    <div class="info-container">
      <h4>Pylväsdiagrammissa näet eri liikuntalajien osuudet järjestettynä vähiten harrastetusta eniten harrastettuun.</h4>
      <button class="btn" onclick="getAllJsonAndDraw('bar', 'y')">Näytä pylväsdiagrammi</button>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}
