{% extends 'base.html' %}

{% block content %}
<h2>Kirjaudu sisään</h2>

{% if form.errors %}
<p>Käyttäjätunnusta tai salasanaa ei löydy. Yritä uudestaan.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sinulla ei ole oikeutta nähdä tätä sivua. Ole hyvä ja pyydä oikeutta ylläpitäjältä.</p>
    {% else %}
    <p>Ole hyvä ja kirjaudu sisään nähdäksesi tämän sivun.</p>
    {% endif %}
{% endif %}

<form method="post" action="/kirjaudutaan/">
{% csrf_token %}
<table>
<tr>
    <td>Käyttäjätunnus:</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>Salasana:</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" class="btn" value="Kirjaudu sisään">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}


