{% extends 'base.html' %}

{% block content %}
{% load static %}  
<h2>Tarkastele lisäämiäsi liikuntasuorituksia</h2>

{% if exercises %}

    <div id="container" style="width: 75%;">
        <div class="info-container">
            <h4>Viivadiagrammissa näet liikuntapäiväsi ja sen, kuinka kauan olet liikkunut kunakin päivänä yhteensä.</h4>
            <button class="btn" onclick="getMyJsonAndDraw('line', 'x')">Näytä viivadiagrammi</button>
        </div>

        <div class="info-container">
            <h4>Ympyrädiagrammissa näet harrastamiesi eri liikuntalajien osuudet suhteutettuna toisiinsa.</h4>
            <button class="btn" onclick="getMyJsonAndDraw('pie', 'y')">Näytä ympyrädiagrammi</button>
        </div>

        <div class="info-container">
            <h4>Taulukkossa on kaikki lisäämäsi liikuntasuoritukset.</h4>
            <button class="btn" onclick="getMyJsonAndDraw('table')">Näytä taulukko</button>
        </div>
    </div>
    <!-- <button class="btn" onclick="history.back()">Palaa takaisin</button> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endif %}
{% endblock %}

